@import "../../../../styles/colors.scss";

.buttonNewWarning {
  width: 100%;
  text-align: center;
  border-radius: 8px;
  padding: 0.6rem;
  font-weight: 500;
  font-size: 0.8rem;

  border: none;
  box-shadow: 1px 3px 5px rgb(0 0 0 / 0.2);
  background: $primary-color;
  color: $white-color;

  cursor: pointer;
  transition: filter 0.2s;

  &:not(:disabled):hover {
    filter: brightness(0.8);
  }
  &:disabled {
    cursor: not-allowed;
    opacity: 0.4;
  }
}

.fieldsContainer {
  display: flex;
  flex-direction: column;
  gap: 7px;

  list-style-type: none;

  li {
    background: $gray-color-100;
    box-shadow: 1px 3px 5px rgb(0 0 0 / 0.1);

    border-radius: 10px;
    padding: 0px 0px 0px 0.7rem;
  }
}
