@import "../../../styles/colors.scss";

.alertOverlay {
  display: flex;
  align-items: center;
  justify-content: center;
}

.alertContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  border-radius: 20px;
  padding: 2rem;
  gap: 1.5rem;

  background: $gray-color-100;
}

.title {
  color: $gray-color-400;
  font-weight: 600;
}

.text {
  color: $gray-color-400;
  font-weight: 500;
}

.buttonsContainer {
  display: flex;
  gap: 1rem;

  width: 100%;

  button {
    border-radius: 20px;
    flex: 1;
    padding: 0.8rem;

    font-weight: 500;
    font-size: 0.8rem;
    border: none;

    color: $white-color;
    box-shadow: 1px 2px 3px rgb(0 0 0 / 0.2);

    transition: filter 0.2s;
    cursor: pointer;

    &:hover {
      filter: brightness(0.8);
    }
    &:disabled {
      cursor: not-allowed;
      opacity: 0.6;
    }
  }
}

.cancelButton {
  background: $red-color-500;
}

.confirmButton {
  background: $blue-color-500;
}

.textButton {
  color: $white-color;
}
