@import "../../../../styles/colors.scss";

.actionButtonsContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;

  button {
    background: none;
    border: none;
    line-height: 0;

    cursor: pointer;
    transition: filter 0.2s;

    &:not(:disabled):hover {
      filter: brightness(0.7);
    }

    &:disabled {
      opacity: 0.4;
    }

    &.editStudentButton {
      color: $blue-color-700;
    }
    &.deleteStudentButton {
      color: $red-color-500;
    }

    .icon {
      height: 1.2rem;
    }
  }
}

.viewDesktop {
  display: flex;
}
.viewMobile {
  display: none;
}

@media (max-width: 620px) {
  .viewDesktop {
    display: none;
  }
  .viewMobile {
    display: flex;
  }
}
