@import "../../../../styles/colors.scss";

.warningDetials {
  display: flex;
  align-items: center;
  gap: 7px;

  line-height: 1;
  font-weight: 500;
  font-size: 0.875rem;

  border-radius: 7px;
  padding: 0.5rem;

  color: white;
  background: $primary-color;
  box-shadow: 1px 2px 3px rgb(0 0 0 / 0.15);
  border: none;

  cursor: pointer;
  transition: filter 0.2s;

  &:hover {
    filter: brightness(0.8);
  }

  .icon {
    height: 1rem;
  }
}
