@import "../../../../styles/colors.scss";

.fieldsContainer {
  display: flex;
  flex-direction: column;

  gap: 7px;

  list-style-type: none;
  
  tbody {
    tr {
      background: $gray-color-100;
      box-shadow: 1px 3px 7px rgb(0 0 0 / 0.2);
      td {
        display: flex;
      }

      .iconEdit {
        color: $blue-color-500;
        height: 1.4rem;

        cursor: pointer;
        transition: filter 0.2s;

        &:hover {
          filter: brightness(0.8);
        }
      }
    }
  }
}

.backButton {
  align-self: self-start;
  display: flex;
  align-items: center;
  gap: 7px;

  line-height: 1;
  font-size: 1.2rem;

  padding: 0.5rem 0.6rem;
  border-radius: 7px;
  border: none;

  background: $gray-color-200;

  cursor: pointer;
  transition: filter 0.2s;

  &:hover {
    filter: brightness(0.8);
  }

  .icon {
    height: 1rem;
  }
}
