@import '../../../../../styles/colors.scss';

.fieldsContainer{
  display: flex;
  flex-direction: column;
  gap: 7px;

  list-style-type: none;

  li{
    background: $gray-color-50;
    box-shadow: 1px 3px 5px rgba(0 0 0 / 0.1);

    border-radius: 20px;
    padding: 0 0 0 1rem;
  }
}