@import "../../../styles/colors.scss";

.avatarContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  margin-top: 5rem;
  margin-bottom: 1rem;

  .imageContainer {
    background-color: $gray-color-100;
    border: 8px solid $primary-color;

    border-radius: 50%;
    width: 180px;
    height: 180px;
    padding: 0.3rem;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    overflow: hidden;

    cursor: pointer;

    .image {
      border-radius: 50%;
      margin: 0px;
      height: 100%;
      object-fit: cover;
      width: 100%;
    }

    .editAvatarContainer {
      background: rgba(0 0 0 / 0.6);

      width: 100%;
      height: 100%;

      position: absolute;
      z-index: 1;

      display: none;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 10px;

      animation: appear 0.2s;

      span {
        color: $gray-color-100;
        font-weight: 500;
        font-size: 0.875rem;
      }

      .icon {
        height: 1.5rem;
        color: $gray-color-100;
      }
    }

    &:hover {
      .editAvatarContainer {
        display: flex;
      }
    }
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
