@import "../../../../../styles/colors.scss";

.fieldsContainer {
  display: flex;
  flex-direction: column;

  gap: 7px;

  list-style-type: none;

  tbody {
    tr {
      background: $gray-color-100;
      box-shadow: 1px 3px 7px rgb(0 0 0 / 0.2);
      td {
        display: flex;
      }

      .iconEdit {
        color: $blue-color-500;
        margin-left: auto;
        height: 1.2rem;

        cursor: pointer;
        transition: filter 0.2s;

        &:hover {
          filter: brightness(0.8);
        }
      }
    }
  }
}
