@import "../../../../styles/colors.scss";

.buttonsContainer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5rem;

  margin-top: auto;
  margin-bottom: 3rem;
  list-style-type: none;
}
