@import "../../../../../styles/colors.scss";

.buttonNewWarning {
  width: 100%;
  text-align: center;
  border-radius: 20px;
  padding: 1rem;
  font-weight: 500;
  font-size: 0.8rem;
  margin-bottom: 1rem;

  border: none;
  box-shadow: 1px 3px 5px rgb(0 0 0 / 0.2);
  background: $primary-color;
  color: $white-color;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;

  cursor: pointer;
  transition: filter 0.2s;

  .icon {
    height: 1rem;
  }

  &:not(:disabled):hover {
    filter: brightness(0.8);
  }
  &:disabled {
    cursor: not-allowed;
    opacity: 0.4;
  }
}

.fieldsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 7px;

  list-style-type: none;

  .warningItem {
    background: $gray-color-50;
    color: $gray-color-400;
    font-weight: 500;
    box-shadow: 1px 3px 5px rgb(0 0 0 / 0.1);

    border-radius: 20px;
    padding: 1rem;
    width: 100%;
    line-height: 1;

    display: flex;
    align-items: center;
    gap: 15px;

    transition: filter 0.2s;
    cursor: pointer;

    span {
      white-space: nowrap;
      overflow: hidden;
      padding: 0.1rem;
      text-overflow: ellipsis;
    }

    .arrowIcon {
      height: 1rem;
    }

    &:hover {
      filter: brightness(0.95);
    }
  }

  .collapseContainer {
    border: 1px solid $gray-color-200;
    border-top: none;
    padding: 1rem;

    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
  }

  .descriptionContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    h4 {
      text-align: center;
      color: $gray-color-300;
      border-bottom: 1px solid $gray-color-200;
      padding-bottom: 0.4rem;
    }
    p {
      color: $gray-color-400;
      text-align: center;
      font-weight: 500;
      font-size: 0.875rem;
    }
  }
}
