@import "../../../../../styles/colors.scss";

.button {
  background: none;
  border: none;

  cursor: pointer;
  transition: 0.2s;

  &:hover {
    filter: brightness(0.7);
  }
}

.removeStudentButton {
  @extend .button;

  .icon {
    height: 1rem;
    color: $red-color-500;
  }
}

.addStudentButton {
  @extend .button;

  .icon {
    height: 1rem;
    color: $blue-color-500;
  }
}
